<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>538983735108-3v6q99mguv7t6ns8lk01c7e08l9drpds.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.538983735108-3v6q99mguv7t6ns8lk01c7e08l9drpds</string>
	<key>API_KEY</key>
	<string>AIzaSyC8zS1M0MU_lu029VYRkuU35Zy0q0K42ag</string>
	<key>GCM_SENDER_ID</key>
	<string>538983735108</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.pi.atf.plugin.firebase.example</string>
	<key>PROJECT_ID</key>
	<string>automated-testing-framework</string>
	<key>STORAGE_BUCKET</key>
	<string>automated-testing-framework.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:538983735108:ios:3538d60a64f42b9f310111</string>
	<key>DATABASE_URL</key>
	<string>https://automated-testing-framework.firebaseio.com</string>
</dict>
</plist>